// Forward SCSS partials
@forward './layout/navbar';
@forward './layout/home';
@forward './layout/about';
@forward './layout/gallery';
@forward './layout/blog';
@forward './layout/contact';
@forward './layout/footer';
@forward './layout/toast';

