@use "../variables" as *;
@use "../mixins" as *;
@use "sass:color";

/* Footer Section --------------------- */
footer {
    @include flex-center(column);
    background: $background;
    color: $secondary-font-color;
    padding: 20px 0;
    font-size: 1.2rem;
    position: relative;
    z-index: 9;
  
    .social-icons {
      margin-top: 10px;
  
      a {
        margin: 0 10px;
        color: $secondary-font-color;
        font-size: 1.5rem;
  
        &:hover {
          color: color.adjust($secondary-font-color, $lightness: 20%);
        }
      }
    }
  }